/* GENERALI */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Roboto, sans-serif;
    font-size: 18px;
}

ul,
ol {
    list-style: none;
    font-size: 14px;
}

a {
    color: currentColor;
    text-decoration: none;
}

img {
    max-width: 100%;
}

h1{
    font-size: 44px;
}


/* LAYOUT */
.container {
    max-width: 1024px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-16{
    width: calc(100% / 6);
}

.col-33{
    width: calc((100% / 6) * 2);
}

.col-40 {
    width: 40%;
}

.col-60 {
    width: 60%;
}

.btn-style{
    background-color: white;
    color: black;
    padding: 0 16px;
    border-radius: 999px;
    line-height: 36px;
    transition: 0.2s;
}

.text-box {
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: flex-start;
    gap: 30px;
    padding: 46px 30px 20px 30px;
}


/* HEADER */
.main-header {
    padding: 10px 60px;
    background-color: rgb(203, 236, 229);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
    margin: 0 auto;
}

.main-menu {
    display: flex;
    gap: 36px;
}


/* MAIN (Sections) */
.hero {
    background: url(../img/jumbo.png);
    background-size: cover;
    padding: 100px 250px;
    text-align: center;
}

.hero .text-box {
    padding: 0 30px 30px 30px;
}

.external-links {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 18px;
    scale: 1.1;
}

.wave-upper-border{
    color: rgb(246, 246, 246);
    display: flex;
    align-items: flex-end;
}

.wave-lower-border{
    color: rgb(246, 246, 246);
    display: flex;
    transform: scaleY(-1);
    align-items: flex-start;
}

.video-banner .container .subtitle{
    padding: 40px 0;
    background: url(../img/stars.svg);
    background-size: 50%;
    background-repeat: no-repeat;
    background-position: center;
}

.video-image{
    width: 100%;
    height: 100%;
}

.categories{
    margin: 0 auto;
    background-color: rgb(35, 39, 42);
}


/* FOOTER */
.footer{
    padding: 10px 60px 0 60px;
    background-color: rgb(35, 39, 42);
    border-top: 1px solid white;
}

.navbar-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 800px;
    padding: 10px 0;
    margin: 0 auto;
    background-color: rgb(120, 238, 198);
}


/* UTILITIES */
.padding-20y{
    padding: 20px 0;
}

.padding-80y {
    padding: 80px 0;
}

.b-10{
    border-radius: 10px;
}

.bg-blue {
    background-color: rgb(37, 94, 233);
}

.bg-black {
    background-color: black;
}

.bg-gray {
    background-color: rgb(246, 246, 246);
}

.bg-light-blue{
    background-color: rgb(114, 137, 218);
}

.color-white {
    color: white;
}

.lh-30{
    line-height: 30px;
}

.lh-44{
    line-height: 44px;
}

.fs-16{
    font-size: 16px;
}
.fs-14{
    font-size: 14px;
}

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

.justify-center {
    justify-content: center;
}
.justify-start{
    justify-content: flex-start;
}

.items-center{
    align-items: center;
}

.gap-20{
    gap: 20px;
}

.margin-30x{
    margin: 0 30px;
}

.padding-24b{
    padding: 0 0 24px 0;
}

.text-center {
    text-align: center;
}


/* HOVER */
.btn-style:hover{
    scale: 1.1;
}

li a:hover{
    color: black;
}